<extend name="Public:base"/>

<block name='head'>
    <meta charset="utf-8">
    <link rel="icon" href="__PUBLIC__/imgs/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/imgs/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
</block>

<block name="main">

    <!-- /////////////////////////////////////////Content -->
<div id="page-content" class="archive-page container">
<div class="">
<div class="row">
    <div id="main-content" class="col-md-8">
        <div class="box">
            <center><div class="box-header">
                <h3 class="center">登录</h3>
            </div></center>
            <div class="box-content">
                <div id="contact_form">
                    <span id="tips" style="color: red;margin-left: 160px;"></span>
                    <!-- <form name="form1" id="ff" method="post" action="<{:U('Login/doLogin')}>"> -->
                    <form action="<{:U('Login/doLogin')}>" method="post" class="form-horizontal" role="form" id="form-register">
                        
                        <div class="form-group"><p>
                        <label class="col-sm-2 col-sm-offset-1 control-label"><span>用户名</span></label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="phone" required id="phone" placeholder="用户名/手机号/邮箱"></p>
                        </div>
                        </div>
                    

                    <!--    <label>
                        <span>请输入手机/邮箱/用户名:</span>
                        <input type="text"  name="phone" id="phone" required value="">
                        </label> -->
                        
                        <div class="form-group"><p>
                        <label class="col-sm-2 col-sm-offset-1 control-label"><span>密码</span></label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" name="password" required id="password" placeholder="输入密码"></p>
                        </div>
                        </div>
                            
                        <!-- <label>
                        <span>请输入密码:</span>
                        <input type="password"  name="password" id="password" required>
                        </label> -->
                         <div class="form-group">
                        <label class="col-sm-2 col-sm-offset-1 control-label">验证码</label>
                        <div class="col-sm-4">
                            <input type="type" class="form-control" name="verify" id="verify" required placeholder="">
                        </div>
                        <div class="col-sm-3">                         
                            <img id="verify_img" src="<{:U('Register/getVerify')}>" title="看不清，换一张" style="cursor:pointer;">
                        </div>
                    </div>
                        <!-- <label>
                        <span>请输入验证码:</span>
                        <p>
                        <input style="width:300px;float:left;" type="text"  name="verify" id="verify" required>
                        <img style="float:left;margin-left:10px;margin-top:5px;" id="verify_img" src="<{:U('Login/getVerify')}>" title="看不清，换一张" style="cursor:pointer">
                        </p>
                        </label> -->
                        <br><br>
                    <!--    <p>
                        <center><input class="sendButton" type="submit" name="Submit" value="确认登录"></center>
                    </p> -->
                     <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                          <button type="submit" class="btn btn-success btn-block">登录</button>
                        </div>
                    </div>
                      <div class="col-sm-offset-6">                
                        <span class="fr">忘记密码？<a href="<{:U('sms')}>">找回密码</a></span>
                    </div><br><br><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
                <div id="sidebar" class="col-md-4">
                    <!-- Start Widget -->
                    <div class="widget wid-follow">
                        <div class="heading"><h4>阡陌之家</h4></div>
                        <div class="content">
                            <img src="__PUBLIC__/look/images/banner.jpg" />
                        </div>
                    </div>
                    <!-- Start Widget -->

                </div>
            </div>
        </div>
    </div>
</block>
<block name="myjs">
<script src="__PUBLIC__/look/owl-carousel/owl.carousel.js"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
</script>

    <script>
    // $(document).ready(function() {
    //   $("#owl-demo").owlCarousel({
    //     autoPlay: 3000,
    //     items : 5,
    //     itemsDesktop : [1199,4],
    //     itemsDesktopSmall : [979,4]
    //   });

    // });


    var verify_img = $('#verify_img');
    var src_img = verify_img.attr('src');
    verify_img.click(function(){
        $(this).attr('src', src_img+'?verify='+Math.random());
    });

    $('#phone').blur(function(){
    $.ajax({
        type: 'POST',
        url: "<{:U('Login/doLogin')}>",
        data: 'phone='+$('#phone').val(),
        success: function(msg){
          if(msg){
            $('#tips').html(msg);
          }else{
            $('#tips').html('');
          }
        }
      });
    });

    $('#password').blur(function(){
      $.ajax({
        type: 'POST',
        url: "<{:U('Login/doLogin')}>",
        data: 'password='+$('#password').val(),
        success: function(msg){
          if(msg){
            $('#tips').html(msg);
          }else{
            $('#tips').html('');
          }
        }
      });
    });
</script>
</block>
