<extend name="Public:base"/>

<block name='head'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>手机验证</title>
    <link rel="icon" href="__PUBLIC__/imgs/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/imgs/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
</block>

<block name='main'>
    <center>
        <div id="page-content" class="archive-page container">
            <div class="row">
                <div class="col-md-2">
        
                </div>
                <div id="main-content" class="col-md-8">
                    <div class="box">
                        <center>
                            <div class="box-header">
                                <h3 class="center">手机验证</h3>
                            </div>
                        </center>
                        <div class="box-content">
                            <div id="contact_form">
                                <form action="<{:U('Login/findwd1')}>" method="post" class="form-horizontal" role="form" id="form-register">
                                <div class="form-group"><p>
                                    <label class="col-sm-2 col-sm-offset-1 control-label"><span>用户名</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="name" required id="name" placeholder="请输入用户名">
                                    </div></p>
                                </div>
                                <div class="form-group"><p>
                                    <label class="col-sm-2 col-sm-offset-1 control-label"><span>手机号</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="phone" required id="phone" placeholder="请输入手机号"></p>
                                    </div></p>
                                </div>

                                <div class="form-group"> <p>                  
                                    <label class="col-sm-2 col-sm-offset-1 control-label"><span>验证码</span></label>
                                        <div style="float:left;" class="col-sm-3">
                                            <input type="text" class="form-control" name="phoneyzm" required id="phoneyzm" placeholder="请输入验证码">                        
                                        </div>
                                        <div style="float:left;" class="col-sm-3">
                                          <a href="javascript:;" class="btn btn-success btn-block" onclick="send()">发送验证码</a>                     
                                        </div></p>                
                                </div>
                                <div style="height:30px;" class="form-group">
                                    <div style="height:20px;" class="col-sm-offset-3 col-sm-6">
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <button type="submit" class="btn btn-primary btn-block" onclick="sendyzm()">发送</button>
                                    </div>

                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>


</block>

<block name='myjs'>
<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
<script>
function send()
{
   $.post("<{:U('Login/psms')}>", {'phone': $('#phone').val(),'name': $('#name').val()}, function(data) {
        if(data === false) {
            alert("没有该用户");
        } else {
            
        }
        
   });

}

function sendyzm()
{
    $.post("<{:U('Login/yzm')}>", {'phoneyzm': $('#phoneyzm').val()}, function(data) {
        if(data === false) {
            alert("验证码错误");
        } else {
            location.assign("<{:U('findwd1')}>")
        }
        
   });
}
</script>
</block>
