<extend name='Pets/index'/>
<block name='main'>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"></span> <span class="r">共有留言：<strong><{$data|count=###}></strong> 条</span> </div>
    <div class="mt-20">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <th width="25" style='display: none;'></th>
                <th width="80">ID</th>
                <th width="100">留言板内容</th>
                <th width="200">留言者</th>
                <th width="150" style='display: none;'></th>
                <th width="150" style='display: none;'></th>
                <th width="150">加入时间</th>
                <th width="90" style='display: none;'></th>
                <th width="70" style='display: none'></th>
                <th width="100" style='display: none'></th>
            </tr>
        </thead>
        <tbody>
            <volist name='data' id='v'>
            <tr class="text-c">
                <td style='display: none;'></td>
                <td><{$v.id}></td>
                <td><{$v.content}></td>
                <td><u style="cursor:pointer" class="text-primary" onclick="member_show('<{$vo.name}>','<{:U('User/info')}>?id=<{$v.id}>','<{$vo.id}>','360','600')"><{$v.name}></u></td>
                <td style='display: none;'></td>
                <td style='display: none;'></td>
                <td><{$v.ctime|date='Y-m-d H:i:s',###}></td>
                <td style='display: none;'></td>
                <td style='display: none'></td>
                <td style='display: none'></td>
            </tr>
            </volist>
        </tbody>
    </table>
    </div>
</div><!--page-container-->
<script type="text/javascript">
$(function(){
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
          //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
          {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
        ]
    });
    $('.table-sort tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            $('tr:selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
});

/*用户-查看*/
function member_show(title,url,id,w,h){
    layer_show(title,url,w,h);
}

</script> 
</block>

