<footer>

	<div class="container_12">
	    <div class="grid_12">
		    <div class="container">
	            <div class="row" style='margin-left: 100px'>
	                <div class="col-md-10 col-footer footer-3">
	                    <div class="col-md-2" >
	                        <div class="footer-heading"><h4>友情链接</h4></div>
	                    </div>
	                    <div class="col-md-8">
	                    <volist name='data' id='vo'>
	                        <div class='row' style='margin-top: 10px'>
	                            <volist name='vo' id='v'>
	                                <div class="col-md-3" ><a style='color:#999;font-size:16px;' href="<{$v.url}>" target='_blank'><{$v.name}></a></div>
	                            </volist>
	                        </div>
	                        
	                    </volist>
	                    </div>
	                </div>
	            </div>
	        </div>
        	
		</div>
	    <div class="clear"></div>
	</div>
	
</footer>

