<footer>

	<div class="container_12">
	    <div class="grid_12">
		    <div>
	            <div class="row" style='margin-left: 10px'>
	                
	                    
                    <div style="margin-top: -120px;width: 1000px"><h2>友情链接</h2></div>
                    <ul class='footer'>
                    <volist name='data' id='vo'>
                        <div class='row' style='margin-top: 10px;width: 1000px;'>
                            <volist name='vo' id='v'>
                                <li style='width: 180px;'><a style='color:#999;font-size:16px;' href="<{$v.url}>" target='_blank'><{$v.name}></a><span style='margin-left: 60px'>|</span></li>
                            </volist>
                        </div>
                        
                    </volist>
	                    
	                </ul>
	            </div>
	        </div>
        	
		</div>
	    <div class="clear"></div>
	</div>
	
</footer>

