<header> 
    <div class="container-fluid">
        <div class="row">
            <!-- <div class='col-xs-2 col-md-2'>
                <h2></h2>
            </div> -->
            <div class='col-xs-12 col-md-12'>
                <h1><a href="index.html"><img src="__PUBLIC__/imgs/images/logo.png" alt="Gerald Harris attorney at law"></a></h1>
                <div class="menu_block">
                    <nav  class="" >
                        <ul class="sf-menu">
                            <li class="current"><a href="<{:U('Index/index')}>">首页</a></li>
                            <li class="with_ul"><a href="<{:U('Notice/index')}>">关于我们</a>
                            </li>
                            <li><a href="<{:U('Adopt/index')}>">领养中心</a></li>
                            <li><a href="<{:U('Notice/index')}>">小知识</a></li>
                            <li><a href="<{:U('Post/index')}>">宠物天地 </a></li>
                            <if condition='$Think.session.home_user eq ""'>
                            <li><a href="<{:U('Register/index')}>">注册</a></li>
                            <li><a href="<{:U('Login/index')}>">登录</a></li>
                            <else />
                            <li><a href="<{:U('User/index')}>"><{$Think.session.home_user.name}></a></li>
                            <li><a href="<{:U('Logout/doLogout')}>">退出</a></li>
                            </if>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div> 
        </div>
    </div>
</header>