<extend name="Public:base"/>

<block name='head'>
    <meta charset="utf-8" />
	<meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>更新背景</title>
    <link rel="icon" href="__PUBLIC__/imgs/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/imgs/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/app.css" type="text/css" />
</block>

<block name="main">
<div class="row">
<foreach name='data' item='v'>
  <div class="col-xs-6 col-md-3">
    <a href="<{:U('User/bgsave')}>?id=<{$v.id}>" class="img-thumbnail">
      <img src="__UPLOAD__/img/bg-thumb/<{$v.picname}>" >
    </a>
  </div>
</foreach>

</div>

<br>        
 

</block>
<block name="myjs">

  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>

  	
</block>
