<extend name="Public:base"/>

<block name='head'>
    <meta charset="utf-8" />
	<meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>我的动态</title>
    <link rel="icon" href="__PUBLIC__/imgs/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/imgs/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/app.css" type="text/css" />
 
</block>

<block name="main">

<div class='row' style="background:url(__UPLOAD__/img/bg-thumb/<{$Think.session.home_user.bg}>) center center; background-size:cover">
  
	<div class='col-xs-2 col-md-2'></div>
    <div class="col-xs-8 col-md-8">
      <div>
        <div class="wrapper-lg bg-white-opacity">
          <div class="row m-t">
            <div class="col-sm-7">
              <div class='col-md-4'>
                <a href="<{:U('User/info')}>"><img src="__UPLOAD__/img/avatar-thumb/<{$Think.session.home_user.picname}>" class="img-circle"></a>
              </div>
              <div class="col-sm-8s">
                <div class="m-b m-t-sm">
                  <a href="<{:U('User/bg')}>" target='_black' style='color:blue;position: relative;left:600px;bottom: 40px;'>更新背景图片</a><br>
                  <small class="m-l">昵称：<{$Think.session.home_user.name}></small><br>
                  <small class="m-l">等级：<{$Think.session.home_user.exp|grade}></small><br>
                  <small class="m-l">简介：<{$Think.session.home_user.descr}></small><br>
                  <small class="m-l"><i><u><a href="<{:U('User/info')}>" style='color:blue;'>更新个人资料</a></u></i></small>
                </div>
                
              </div>
            </div>
            <div class="col-sm-4">
              <div class="pull-right pull-none-xs text-center">
              	<a href='<{:U("Picture/index")}>' class="m-b-md inline m" >
                  <span class="h3 block font-bold"><{$pic_count}></span>
                  <small>相册</small>
                </a>
                <a href='<{:U("Fans/index")}>' class="m-b-md inline m">
                  <span class="h3 block font-bold"><{$fans_count}></span>
                  <small>好友</small>
                </a>
                <!-- <a href='<{:U("User/index")}>' class="m-b-md inline m">
                  <span class="h3 block font-bold"><{$post_count}></span>
                  <small>动态</small>
                </a> -->
                <a href='<{:U("Collection/index")}>' class="m-b-md inline m">
                  <span class="h3 block font-bold"><{$col_count}></span>
                  <small>收藏</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper bg-white b-b">
        <ul class="nav nav-pills nav-sm">
          <li class="active"><a href='<{:U("User/index")}>'>动态</a></li>
          <!-- <li><a href='<{:U("Picture/index")}>'>相册</a></li>
          <li><a href='<{:U("Fans/index")}>'>好友</a></li> -->
          <li  class="nav_son"><a href='<{:U("Fans/news")}>'>消息</a>
              <div id="list" style='display: none;background-color: #19A9D5;position: relative;'>
                <ul>
                  <li><a href='<{:U("Fans/news")}>?status=1' style='color:white;'>申请消息</a></li>
                  <li><a href='<{:U("Fans/news")}>?status=2' style='color:white;'>关注消息</a></li>
                </ul>
              </div>
          </li>
          <li class="nav_son"><a href='<{:U("Word/index")}>?status=2'>留言板</a>
              <div id="list" style='display: none;background-color: #19A9D5;position: relative;left:5px;'>
                <ul>
                  <li><a href='<{:U("Word/index")}>?status=1' style='color:white;'>我的留言</a></li>
                  <li><a href='<{:U("Word/index")}>?status=2' style='color:white;'>留言板</a></li>
                </ul>
              </div>
          </li>
          <li><a href='<{:U("Apply/list")}>'>申请</a></li>
      </ul>
      </div>
      <!-- 发表动态开始 -->
        <div id='com'>
            
            <form action="<{:U('Post/save')}>" method="post">
                  <input type="hidden" name="uid" value="<{$Think.session.home_user.id}>">       
            <script id="container" name="content" type="text/plain" style="width:650px;height:220px">
                </script>
                <!-- 配置文件 -->
                <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
                <!-- 编辑器源码文件 -->
                <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
                <!-- 实例化编辑器 -->
                <script type="text/javascript">
                    var ue = UE.getEditor('container',{
                        indentValue:'2em'
                        ,initialFrameWidth:890  //初始化编辑器宽度,默认1000
                        ,initialFrameHeight:120  //初始化编辑器高度,默认320
                        ,zindex:650
                        , toolbars: [[
                        'fullscreen', 'undo', 'redo', '|',
                        'bold', 'italic', 'underline', 'fontborder', 'rowspacingbottom', 'lineheight', '|', 'fontfamily', 'fontsize', '|',
                        'directionalityltr', 'directionalityrtl', 'indent', '|',
                        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 
                        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', '|',
                        'horizontal', 'date', 'time', 'snapscreen'
                        ]]
                        //是否启用元素路径，默认是显示
                        ,elementPathEnabled :false
                        ,autoHeightEnabled: false
                    });
                </script>
                <input type="submit" name="" value="提交" class='btn btn-primary'>
            </form>
                    
        </div> 
            
    <!-- 发表动态结束-->
   
      <div class="padder" style='margin-top: 10px;background: #fff;'>      
        
          <if condition="$post eq null">
            <div  style='width:1000px;height:200px;font-size: 24px;color:#999;line-height: 200px;text-align: center;'>
                <div class="hot_feed_blank">
              
                  还没有动态哦，去 <a href="#com">发表</a>
                  
              </div>
                </div> 
          <else/>
          <foreach name='post' item='v'>
          <div>
            <a class="pull-left thumb-sm avatar m-l-n-md" href='<{:U("Fans/fans")}>?id=<{$v.id}>'>
              <img src="__UPLOAD__/img/avatar-thumb/<{$Think.session.home_user.picname}>" alt="...">
            </a>          
            <div class="m-l-lg panel b-a">
              <div class="panel-heading pos-rlt b-b b-light">
                <span class="arrow left"></span>
                <a href><{$v.collect_count}></a>
                <label class="label bg-light m-l-xs"><{$v.reply_count}></label> 
                <span class="text-muted m-l-sm pull-right">
                  <{$v.ctime|date='Y-m-d H:i:s',###}>
                </span>
              </div>
              <div class="panel-body">
                <blockquote>
                  <small><{$v.content}></small>
                </blockquote>
                <div></div>
              </div>
            </div>
          </div>
          </foreach>
          </if>
        
      </div><br>
    </div>	        
 
  </div>
</block>
<block name="myjs">

  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>

  	<script>
    $('.nav_son').hover(
      function () {
        $(this).children('#list').css('display','block');
      },
       function () {
        $(this).children('#list').css('display','none');
      }
    );
  </script>
</block>
