<extend name="Public:base"/>

<block name='head'>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>宠物小知识</title>
    <link rel="icon" href="__PUBLIC__/imgs/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/imgs/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style1.css">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
</block>

<block name="main">
	<div class="page1_block nb">
       <div class="container_12">
		    <div class="grid_6">
		    	<h2 class="ic1">宠物小知识</h2>
		    	<ul class="list1">
		        <foreach name='tips' item='v'>
		        	<li><span class='cnt' style='color: #fff;font-size: 8px;text-align: center;'>
		             <{$v.count}>
		              </span>
		               <div class="extra_wrapper">
			                <div class="col1">
					      		<u><a href="<{:U('Tips/detail')}>?id=<{$v.id}>" target='_blank'><{$v.title}></a></u>
					      		<if condition='$v.uid eq null'>
					      		<u><a href="javascript:;" class="glyphicon glyphicon-heart-empty" style='margin-left:50px' onclick="coll(<{$v.id}>,this)"></a></u>
					      		<else/>
					      		<u><a href="javascript:;" class="glyphicon glyphicon-heart" style='margin-left:50px' onclick="delcoll(<{$v.id}>,this)"></a></u>
					      		</if>
					    	</div>
				    	</div>

				    </li>
		        </foreach>
		        </ul>
		        <{$page}>
		    </div>

		    <div class="grid_6 prefix_1">
		           <h2 class="ic1">娱乐新闻</h2>
		           <ul class="list1">
		           <div>
		           <foreach name='c' item='v' key='k'>
		            <li> <span class='cnt'>
		              
		              </span>
		               <div class="extra_wrapper">
		                <div class="col1"><p><a style="font-size:10px;color:#999;" href="<{$v.url}>" target="_blank"><{$v.title}></a></p></div>
		               </div>
		            </li>
		          </foreach>
		          </div>
		          </ul>
		          
		         <h2 class="ic1">微信精选</h2>
		           <ul class="list1">
		           <div>
		           <foreach name='infos' item='v' key='k'>
		            <li> <span class='cnt'>
		              
		              </span>
		               <div class="extra_wrapper">
		                <div class="col1"><p><a style="font-size:10px;color:#999;" href="<{$v.url}>" target="_blank"><{$v.title}></a></p></div>
		               </div>
		            </li>
		          </foreach>
		          </div>
		          </ul>
		         
		  </div>

     </div>

</block>
<block name='myjs'>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
  	
     <script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script>


<script type="text/javascript">

//  取消收藏小知识
    function delcoll(id,obj) {
      if ('<{:session("home_user")["id"]}>' == "") {
            layer.open({
              title: '取消收藏'
              ,content: '请先登录'
            });
            return false;
        }
        var selfid = '<{:session("home_user")["id"]}>';
        $.ajax({
            type:"POST",
            url: "<{:U('Collection/delcoll')}>",
            data: 'selfid='+selfid+'&tid='+id,
            success: function(data){
                if (data) {
                   $(obj).parent().html('<a href="javascript:;" class="glyphicon glyphicon-heart-empty" style=\'margin-left:50px\' onclick="coll('+id+',this)"></a>');
                } else {
                    alert(data);
                }
            }
        });
    }

// 收藏小知识
	function coll(id,obj) {
        var selfid = '<{:session("home_user")["id"]}>';
        // console.log(uid);
        if (selfid == "") {
            layer.open({
              title: '收藏'
              ,content: '请先登录'
            });
            return false;
        }
        console.log(selfid);
        console.log(id);
        $.ajax({
            type:"POST",
            url: "<{:U('Collection/coll')}>",
            data: 'selfid='+selfid+'&tid='+id,
            success: function(data){
                if (data) {
                    $(obj).parent().html('<a href="javascript:;" class="glyphicon glyphicon-heart" style=\'margin-left:50px\' onclick="delcoll('+id+',this)"></a>');
                } else {
                    layer.open({
                      title: '收藏'
                      ,content: '收藏失败'
                    }); 
                }
            }
        });
    }
</script>

</block>

