<extend name="Public:base"/>

<block name='head'>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title><{$info.name}></title>
    <link rel="icon" href="__PUBLIC__/imgs/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/imgs/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css" type="text/css" />
</block>

<block name="main">
<div class='row' style="background:url(__UPLOAD__/img/bg-thumb/<{$info.bg}>) center center; background-size:cover">
    <div class='col-xs-2 col-md-2'></div>
    <div class="col-xs-8 col-md-8">
      <div>
        <div class="wrapper-lg bg-white-opacity">
          <div class="row m-t">
            <div class="col-sm-7">
              <div class='col-md-4'>
              <a href class="thumb-lg pull-left m-r">
                <img src="__UPLOAD__/img/pets-thumb/<{$info.picname}>" class="img-circle">
              </a></div>
              <div class="col-md-8">
                <div class="m-b m-t-sm">
                  <small class="m-l">昵称：<{$info.name}></small><br>
                  <small class="m-l">性别：<if condition='$info.sex eq 0'>母
            <elseif condition='$info.sex eq 1'/>公
            <elseif condition='$info.sex eq 2'/>保密
            </if></small><br>
                  <small class="m-l">类型：<{$info.tname}></small><br>
                  <small class="m-l">发布时间：<{$info.ctime|date='Y-m-d H:i:s',###}></small><br>
                  <if condition='$info.state eq 2'>
                    &nbsp;&nbsp;&nbsp;可领养
                  <elseif condition='$info.state eq 1'/>
                   &nbsp;&nbsp;&nbsp;已领养
                  </if>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right pull-none-xs text-center">
                <small class="m-l"><a href="<{:U('Fans/fans')}>?id=<{$info.uid}>" target='_blank'><img src="__UPLOAD__/img/avatar-thumb/<{$info.upic}>" class="img-circle"></a></small><br>
                <small class="m-l">申请人昵称：<a href="<{:U('Fans/fans')}>?id=<{$info.uid}>" target='_blank'><{$info.uname}></a></small><br>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- 简介开始 -->
        <div col='row' style='background-color: #fff'>
            <{$info.descr}>
        </div> 
            
    <!-- 简介结束--><br>        
 
        </div> 
  </div>
</block>

<block name="myjs">

    <script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","tsina","weixin","renren","tqq","tqf","douban","thx","fbook","twi","linkedin"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui/js/H-ui.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/H-ui/static/h-ui.admin/js/H-ui.admin.js"></script>
</block>

