<extend name="Public:base"/>

<block name='head'>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>关于我们</title>
    <link rel="icon" href="__PUBLIC__/imgs/images/favicon.ico">
    <link rel="shortcut icon" href="__PUBLIC__/imgs/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
</block>

<block name="main">
	<div class="page1_block nb">
       <div class="container_12">
    <div class="grid_7">
           <h2>宠物之家简介</h2>
           <br>
           <img src="__PUBLIC__/imgs/images/c.jpg" alt="" width="150" height="150" class="img_inner fleft i1">
           <div class="extra_wrapper">
                 宠物领养系统本着“以领养代替购买”的信念，提供了一个全新的网站领养平台。用户便可以在该系统领养宠物。同时，用户可以通过宠物领养系统平台，搭建宠物社交圈子，在网站上晒爱宠的照片或者视频，与网友分享饲养心得或者把问题求助于网友，这样不仅仅可以认识更多的宠友，更可以获得更多的科学的帮助。当然，这也可以说是基于宠物建立起来的社交圈子。</div>
           <div class="clear"></div>
           <h2 style='margin-top: -30px;'>留言板</h2>
           <div>
          <form action="<{:U('Notice/doAdd')}>" method="post"  style='margin-bottom: 80px;'>
                
                <input type="hidden" name="uid" value="<{$Think.session.home_user.id}>"> 
               
            <script id="container" name="content" type="text/plain" style="width:650px;height:220px">
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container',{
                    indentValue:'2em'
                    ,initialFrameWidth:500  //初始化编辑器宽度,默认1000
                    ,initialFrameHeight:180  //初始化编辑器高度,默认320
                    ,zindex:450
                    , toolbars: [[
                    'fullscreen', 'undo', 'redo', 'emotion'
                    ]]
                    //是否启用元素路径，默认是显示
                    ,elementPathEnabled :false
                    ,autoHeightEnabled: false
                });
            </script>
            <input type="submit" name="" value="提交" id='submit' class='btn btn-primary'>
            </form>
                    
        
                    
        <!-- 发表动态结束-->
          </div>
    </div>
    <div class="grid_4 prefix_1">
           <h2 class="ic1">公告</h2>
           <ul class="list l1">
           <foreach name='notice' item='v' key='k'>
            <li> <span>
              <{$v.id}>
              </span>
               <div class="extra_wrapper">
                <div class="col1"><{$v.ctime|date='Y-m-d H:i:s',###}></div>
                <{$v.content}></div>
            </li>
          </foreach>
          </ul>
          <{$page}>
         </div>
  </div>
     </div>

</block>

